@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Helvetica, system-ui, sans-serif;
  }
}

:root {
  --header-height: 40px;
}

@media (min-width: 415px) {
  :root {
      --header-height: 65px;
  }
}

@layer components {
  .letter {
    @apply text-[2rem] leading-[2rem] uppercase font-bold p-4
    w-full max-w-[62px] h-[62px] border-2 text-[32px]
    border-[rgb(58,58,60)] flex items-center justify-center
    text-white;
  }
}
